body {
    transition:1s;
    background-color:black;
}
img.background {
    background-image: url('img/ableton_background-large.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: -20px;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
    }
@media only screen and (max-width: 1150px) and (min-width: 901px){
    img.background {
        background-image: url('img/ableton_background-mid.jpg');
    }
}
@media only screen and (max-width: 900px) and (min-width: 701px){
    img.background {
        background-image: url('img/ableton_background-small.jpg');
    }
}
@media only screen and (max-width: 700px) and (min-width: 601px){
    img.background {
        background-image: url('img/ableton_background-Xsmall.jpg');
    }
}
@media only screen and (max-width: 600px){
    img.background {
        background-image: url('img/ableton_background-XXsmall.jpg');
    }
}

/* ----------------- SITE ---------------- */
/* --------------------------------------- */
/* --------------------------------------- */
p, h1, h2, ul {
    margin-left: 8%;
    margin-right: 8%;
    color: aliceblue;
}
h1 {
    font-size: 50px;
    color: aliceblue;
}
@media only screen and (max-width: 550px){
    h1 {
        font-size: 8.5vw;
    }
}

.myButton {
  border: 10px solid rgba(0, 156, 191, 0.518); 
  border-radius: 24px;
  background: rgba(0, 255, 247, 0.8);
  color: #323900;
  display:inline-block;
  padding:30px;
  transition:1s;
  margin: 5%;
  margin-top: 2%;
  font-size: x-large;
  text-align:center;
  text-decoration:none;
  width: 7%;
  text-shadow: 0.5px 0 #6b9795, -0.5px 0 #6b9795, 
  0 0.5px #6b9795, 0 -0.5px #6b9795, 
  0.2px 0.2px #6b9795, -0.2px -0.2px #6b9795, 
  0.2px -0.2px #6b9795, -0.2px 0.2px #6b9795;
}
.myButton:hover {
  border: 10px groove rgb(86, 255, 235);
  border-radius:24px;
  background:rgb(95, 228, 255);
  color:black;
  padding:50px;
  transition:0.5s;
  margin: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: xx-large;
  width: 9%;
}

@media only screen and (max-width: 1400px){
    .myButton {
        width: 15%;
        margin: 3%;
    }
    .myButton:hover{
        width: 20%;
    }
}
@media only screen and (max-width: 1000px){
    .myButton {
        width: 200px;
        margin: 3%;
        margin-right: auto;
    }
    .myButton:hover{
        width: 200px;
    }
}

.divButton{
    display: contents;
}
@media only screen and (max-width: 1000px){
    .divButton{
        display: block;
    }
}

.elenco {
    border: 5px solid rgba(0, 208, 255, 0.243); 
    border-radius: 7px;
    background:rgba(0, 121, 161, 0.8);
    color: #212600;
    padding: 10px;
    margin: 50px;
    opacity: 1;
}
.elenco > ol > li {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size:x-large;
    transition: 0.4s;
    color: white;
}
.elenco > ol > li > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.4s;
}
.elenco > ol > li > a:hover {
    text-decoration: underline;
    font-weight: bold;
    font-size:xx-large;
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 10px;
    transition: 0.4s;
}
.elenco > ol > li > a:active, .elenco > ol > li > a:visited:active  {
    text-decoration: underline;
    color: rgb(169, 0, 0);
    font-weight: bold;
    display: inline-block;
}
.elenco > ol > li > a:visited {
    color: rgb(190, 168, 0);
}
.unavaible {
    text-decoration-line: line-through; 
}

footer {
    position: fixed; 
    left: -.25in;
    bottom: 0;
    width:100%;
    text-align: center;
    padding: 3px;
    background-color: rgba(55, 114, 145, 0.735);
    color: rgba(255, 255, 255, 0.721);
    box-shadow: 0px -5px 30px rgb(66, 123, 153);
}
footer > p > a {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.744);
    display: inline-block;
}
footer > p > a:hover {
    color: rgba(255, 161, 161, 0.884);
}